.contacts {
  border: none;
  order: 3;
}

.contacts__item {
  color: #d22856;
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}

.contacts__item input {
  border: solid 2px #e5e5e5;
  padding: 20px 80px 20px 20px;

  &::placeholder {
    font-size: 18px;
    line-height: 30px;
    color: #283645;
  }
}

.contacts legend {
  display: none;
}

