.download {
  background-color: #1d2631;
}

.download__btn {
  width: 281px;
  color: #ffffff;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  font-weight: 700;
  border: 3px solid #ffffff;
  border-radius: 50px;
  margin: 30px 20px 40px;
  padding: 15px 20px;
}

.download__text {
  font-family: "OpenSansLight", "Arial", sans-serif;
  color: #ffffff;
  font-weight: 300;
  margin: 15px 45px 30px 45px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .download__text {
    font-size: 18px;
    margin: 0 0 45px 20px;
    text-align: center;
  }

  .download {
    background-color: transparent;
    position: relative;
    width: 320px;
    padding-bottom: 66px;
  }

  .download__btn {
    margin: 0 0 40px 20px;
  }
}

@media (min-width: @desktop-width) {
  .download__btn {
    margin: 0;
    margin-bottom: 70px;
    font-size: 21px;
    padding: 18px 5px;
  }

  .download {
    margin-left: 130px;
    top: 340px;
  }

  .download__text {
    margin: 0 20px 45px 0;
  }
}
