.features__list {
  list-style: none;
  margin: 0;
  padding: 75px 0 285px;
  position: relative;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    width: 157px;
    height: 325px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-position: 0 50px;
    background-repeat: no-repeat;
    left: 80px;
    top: 455px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-mobile@2x.png");
      background-size: contain;
    }
  }
}

.features__item {
  margin: 0 20px 35px;
}

.features__subtitle {
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
}

.features__description {
  margin: 0;
  color: #283645;
  text-align: center;
}

.features__link {
  color: #d22856;
  text-decoration: underline;
}

.features__item--last {
  display: none;
}

.features {
  background-color: #f2f2f2;
  position: relative;
  width: 100%;
  background-image: url("../../img/bg-triangle-white.svg");
  background-position: 0 -65px;
  background-repeat: no-repeat;
}

@media (min-width: @mobile-width) and (min-resolution: @retina-dpi),
  (min-width: @mobile-width) and (min-resolution: @retina-dppx) {
    .features__list::after {
      background-image: url("../img/iphone-screen-mobile@2x.png");
      background-size: contain;
    }
  }

@media (min-width: @tablet-width) {
  .features__list {
    margin: 0 20px 0 330px;
    padding: 75px 0 14px;
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;

    &::after {
      content: "";
      position: absolute;
      width: 268px;
      height: 547px;
      background-image: url("../img/iphone-screen-3-tablet@1x.png");
      background-position: 0 0;
      background-repeat: no-repeat;
      top: 5px;
      left: -310px;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../../img/iphone-screen-3-tablet@2x.png");
        background-size: contain;
      }
    }
  }

  .features::before {
    top: 0;
    right: 0;
  }

  .features__item--last {
    display: block;
    padding: 95px 25px 80px 330px;
    padding-bottom: 80px;
    position: relative;
    background-color: #ffffff;

    &::before {
      content: "";
      position: absolute;
      width: 240px;
      height: 280px;
      background-image: url("../img/icon-timer.svg");
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 100%;
      right: 400px;
      top: 55px;
    }
  }

  .features__item {
    margin: 0 0 35px;
  }

  .features__item--last .features__subtitle {
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    width: 180px;
  }

  .features__item--last .features__description {
    margin-bottom: 10px;
  }

  .features__description {
    text-align: left;
  }
}

.features {
  background-position: 0 0;
}

@media (min-width: @tablet-width) and (min-resolution: @retina-dpi),
  (min-width: @tablet-width) and (min-resolution: @retina-dppx) {
    .features__list::after {
      background-image: url("../../img/iphone-screen-3-tablet@2x.png");
      background-size: contain;
    }
  }

@media (min-width: @desktop-width) {
  .features__list::after {
    background-image: none;
  }

  .features__subtitle {
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-align: center;
    margin-bottom: 25px;
  }

  .features__link {
    font-size: 18px;
    line-height: 30px;
  }

  .features__description {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
  }

  .features__list {
    display: flex;
    flex-direction: row;
    padding: 0 0 120px 40px;
    margin: 0;
  }

  .features::before {
    top: 0;
    right: 0;
  }

  .features__list li {
    padding-top: 355px;
    position: relative;
  }

  .features__list li:first-child::before {
    content: "";
    position: absolute;
    width: 298px;
    height: 345px;
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    top: 0;
    right: -30px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../../img/iphone-screen-1-desktop@2x.png");
      background-size: contain;
    }
  }

  .features__list li:nth-child(2n)::before {
    content: "";
    position: absolute;
    width: 298px;
    height: 345px;
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    top: 0;
    right: -30px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../../img/iphone-screen-2-desktop@2x.png");
      background-size: contain;
    }
  }

  .features__list li:nth-child(3n)::before {
    content: "";
    position: absolute;
    width: 298px;
    height: 345px;
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    top: 0;
    right: -30px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../../img/iphone-screen-3-desktop@2x.png");
      background-size: contain;
    }
  }

  .features__list:first-child {
    padding-left: 50px;
  }

  .features__list li:nth-child(2n),
  .features__list li:nth-child(3n) {
    padding-left: 80px;
  }

  .features__item--last {
    background-color: #f2f2f2;
    padding: 0 0 115px 380px;
    margin: 0;
    position: relative;
    width: 530px;

    &::before {
      content: "";
      position: absolute;
      width: 298px;
      height: 345px;
      background-image: url("../img/icon-timer.svg");
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 100%;
      right: 600px;
      top: -90px;
    }
  }

  .features__item {
    width: 240px;
  }

  .features__item--last .features__subtitle {
    margin-bottom: 20px;
  }

  .features__item--last .features__description {
    margin-bottom: 25px;
  }

  .features__item--last .features__subtitle,
  .features__item--last .features__description {
    text-align: left;
  }
}

@media (min-width: @desktop-width) and (min-resolution: @retina-dpi),
  (min-width: @desktop-width) and (min-resolution: @retina-dppx) {
    .features__list li:first-child::before {
      background-image: url("../../img/iphone-screen-1-desktop@2x.png");
    }

    .features__list li:nth-child(2n)::before {
      background-image: url("../../img/iphone-screen-2-desktop@2x.png");
    }

    .features__list li:nth-child(3n)::before  {
      background-image: url("../../img/iphone-screen-3-desktop@2x.png");
    }
  }
