.like__text {
  color: #d22856;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
  padding-left: 30px;
}

.like {
  padding-bottom: 20px;
}

.like__icon {
  background-image: url("../../img/icon-heart.svg");
  width: 13px;
  height: 13px;
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
}
