.menu__toggle {
  border: none;
  padding: 0;
}

.menu__toggle--closed .menu__toggle {
  width: 50px;
  height: 24px;
  background-image: url("../img/icon-menu-burger.svg");
  border: none;
  padding: 0;
  margin: 20px 20px 20px 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 135px;
  cursor: pointer;
}

.menu__toggle--opened .menu__toggle {
  width: 24px;
  height: 24px;
  background-image: url("../img/icon-menu-cross.svg");
  background-color: transparent;
  margin: 20px 20px 20px 0;
  padding: 0;
  border: none;
  position: absolute;
  top: -65px;
  right: 0;
  cursor: pointer;
}

.menu {
  background-color: #283645;
  position: relative;
}

.menu__title {
  color: #ffffff;
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 30px 75px 80px;
}

.menu__title--form {
  padding: 30px 40px 50px;
}

.menu__title--index {
  display: flex;
  flex-direction: column;
}

.menu__title--hand {
  padding: 25px 30px 310px 30px;
}

@media (max-width: @mobile-width-only) {
  .menu__toggle--closed .site-list {
    display: none;
  }

  .menu__toggle--closed .menu__toggle {
    display: block;
  }

  .menu__toggle--opened .site-list {
    display: block;
  }
}

@media (max-width: @tablet-width-only)  {
  .menu__toggle--closed .site-list {
    display: none;
  }

  .menu__toggle--closed .menu__toggle {
    display: block;
  }

  .menu__toggle--opened .site-list {
    display: block;
  }
}

@media (min-width: @tablet-width) {
  .menu {
    width: 660px;
  }

  .menu__toggle--opened .menu__toggle {
    top: -85px;
  }

  .menu__toggle--closed .menu__toggle {
    top: -85px;
    left: 590px;
  }

  .menu__title {
    font-size: 50px;
  }

  .menu__title--photo {
    padding: 75px;
    line-height: 55px;
  }

  .menu__title--form {
    line-height: 60px;
    padding: 70px;
  }

  .menu__title--hand {
    width: 180px;
    padding: 90px 50px 0 75px;
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 50px;
    font-family: "OpenSansLight", "Arial", sans-serif;
  }

  .menu__title--index {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: @desktop-width) {
  .menu__toggle {
    display: none;
  }

  .menu {
    background-color: transparent;
  }

  .menu__title {
    width: 900px;
    padding: 70px;
    background-image: none;
    font-size: 50px;
    line-height: 60px;
    margin: 0 auto;
  }

  .menu__title--hand {
    padding: 110px 0 0 160px;
    line-height: 60px;
    width: 230px;
    margin: 0;
  }

  .menu__title--photo {
    width: 500px;
  }
}
