.menu {
  background-color: #283645;
}

.menu__toggle--open {
  width: 50px;
  height: 24px;
}

.menu__toggle--close {
  width: 24px;
  height: 23px;
}

.menu__title {
  color: #ffffff;
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-position: 0 -70px;
  background-repeat: no-repeat;
  width: 320px;
  height: 170px;
}

.menu__title--text {
  padding: 35px;
  margin: 0;
}

.menu__title--hand {
  width: 320px;
  height: 462px;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  position: relative;
}

.menu__title--hand::before {
  content: "";
  position: absolute;
  width: 498px;
  height: 314px;
  background-image: url(../../img/iphone-hand-mobile@1x.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  top: 176px;
  left: 0;
}

