.page-main__title {
  font-family: "OpenSansLight", "Arial", sans-serif;
  background-color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin: 46px 45px;
}

@media (min-width: @tablet-width) {
  .page-main {
    width: 660px;
  }

  .page-main__title {
    width: 600px;
    font-size: 40px;
    margin: 60px auto 20px;
    line-height: 40px;
  }
}

@media (min-width: @desktop-width) {
  .page-main {
    width: 1200px;
  }

  .page-main__title {
    font-size: 50px;
  }
}
