.page-main__title {
  font-family: "OpenSansLight", "Arial", sans-serif;
  background-color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin: 46px 50px;
}

@media (min-width: @tablet-width) {
  .page-main {
    width: 660px;
  }

  .page-main__title {
    font-size: 40px;
    margin: 60px 35px 20px 35px;
  }
}
