.post__flag {
  font-family: "OpenSansBold", "Arial", sans-serif;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 0;
  background-color: #d22856;
  width: 140px;
  position: absolute;
  left: 157px;
  top: -10px;
}

.post__author-name {
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-weight: 700;
  margin: 0;
}

.post__post-date {
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.post__text {
  margin: 0;
  margin-bottom: 10px;
}

.post {
  margin: 0 20px 20px;
}

.post--first {
  margin: 0;
  position: relative;
}

.post__image {
  display: block;
  height: 180px;
}

.post__image--panorama {
  display: block;
  height: 137px;
}

@media (min-width: @tablet-width) {
  .post {
    width: 270px;
    display: flex;
    flex-direction: column;
  }

  .post--first {
    width: 620px;
  }



  .post__text {
    margin-bottom: auto;
  }
}
