.post__flag {
  font-family: "OpenSansBold", "Arial", sans-serif;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 0;
  background-color: #d22856;
  width: 140px;
  position: absolute;
  left: 160px;
  top: 130px;
}

.post__author-name {
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-weight: 700;
  margin: 0;
}

.post__post-date {
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.post__text {
  margin: 0;
  margin-bottom: 10px;
}

.post {
  margin: 0 20px 20px;
}

.post--first {
  margin: 0;
}

.post__image {
  display: block;
  width: 280px;
  height: 180px;
}

.post__image img {
  width: 280px;
  height: 180px;
}

.post__image-panorama {
  width: 320px;
  height: 137px;
}

.post__image-panorama img {
  width: 320px;
  height: 137px;
}

@media (min-width: @tablet-width) {
  .post {
    width: 300px;
    display: flex;
    flex-direction: column;
  }

  .post__flag {
    top: 180px;
    left: 500px;
  }

  .post:nth-child(2n) {
    margin-right: 0;
  }

  .post--first {
    width: 620px;
    position: relative;
  }

  .post__text {
    margin-bottom: auto;
  }

  .post__image {
    width: 300px;
    height: 300px;
  }

  .post__image img {
    width: 300px;
    height: 300px;
  }

  .post__image-panorama {
    width: 660px;
    height: 509px;
  }

  .post__image-panorama img {
    width: 660px;
    height: 509px;
  }
}

@media (min-width: @desktop-width) {
  .post__image {
    width: 300px;
    height: 400px;
  }

  .post__image img {
    width: 300px;
    height: 400px;
  }

  .post__image-panorama {
    width: 100%;
    height: 506px;
  }

  .post__container-panorama {
    width: 100%;
  }

  .post__image-panorama img {
    width: 100%;
    height: 506px;
  }

  .post--first {
    width: 940px;
  }

  .post {
    margin: 0;
    margin-bottom: 20px;
  }

  .post:nth-child(3n) {
    margin: 0 20px;
  }
}
