.posts__title {
  font-size: 14px;
  line-height: 30px;
  margin: 45px 35px 48px 35px;
  text-align: center;
}

.posts__content {
  width: 280px;
  padding: 18px 0 0 15px;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.posts__content--first {
  margin: 0 20px 20px;
}

@media (min-width: @tablet-width) {
  .posts__title {
    font-size: 18px;
    margin: 95px auto 75px;
    width: 500px;
  }

  .posts .post-first {
    width: 620px;
  }

  .posts__content {
    width: 300px;
  }

  .posts .flex {
    align-items: stretch;
  }

  .posts__content--first {
    width: 620px;
  }
}

@media (min-width: @desktop-width) {
  .posts__wrapper {
    width: 940px;
  }

  .posts .post-first {
    width: 940px;
    margin-bottom: 50px;
  }

  .posts__title {
    width: 600px;
    margin: 90px auto;
  }

  .posts__content--first {
    width: 940px;
    margin: 0;
    margin-bottom: 50px;
  }
}
