.posts__title {
  font-size: 14px;
  line-height: 30px;
  margin: 55px 40px;
  text-align: center;
}

.posts__content {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .posts__title {
    font-size: 18px;
    margin: 100px 80px 80px 80px;
  }

  .posts .post-first {
    width: 620px;
    margin: 0 0 50px 20px;
  }

  .posts__content {
    margin: 0 20px 20px 20px;
  }

  .posts__content:nth-child(2n) {
    margin-left: 0;
  }

  .posts .flex {
    align-items: stretch;
  }
}

@media (min-width: @desktop-width) {
  .posts .post-first {
    width: 940px;
  }

  .posts {
    margin-left: 130px;
    margin-right: 130px;
  }

  .posts__title {
    width: 700px;
  }
}
