.rate {
  background-color: #f2f2f2;
  position: relative;
  width: 100%;
  padding: 80px 0 100px;
  background-image: url("../../img/bg-triangle-white.svg");
  background-position: 0 -45px;
  background-repeat: no-repeat;
}

.rate__name {
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.rate__col {
  background-color: #283645;
}

.rate__name--standerd {
  position: relative;
}

.rate__flag-text {
  position: absolute;
  transform: rotate(-45deg);
}

.rate__price {
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
}

.rate__flag {
  color: #ffffff;
  font-size: 10px;
  line-height: 21px;
  position: relative;
  text-transform: uppercase;

  &::before {
    content: "";
    background-image: url("../img/bg-hit.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 74px;
    height: 74px;
    position: absolute;
  }
}

.rate__list {
  border: solid 2px #e5e5e5;
  border-collapse: collapse;
  margin-top: 35px;
  position: relative;
  width: 350%;
  left: -3px;
  transform: translateX(-50%);
}

.rate__list td {
  border: solid 2px #e5e5e5;
}

.rate__row-1 td:first-child {
  border: none;
}

.rate__row-1 td:nth-child(3n) {
  width: 275px;
}

.rate__function {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.rate__icon-yes {
  content: "";
  width: 35px;
  height: 25px;
  background-image: url("../img/icon-yes.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.rate__icon-no {
  content: "";
  width: 27px;
  height: 26px;
  background-image: url("../img/icon-no.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}


@media (min-width: @tablet-width) {
  .rate {
    padding: 50px 0 65px;
  }

  .rate__icon-yes {
    background-position: 60px 10px;
  }

  .rate__icon-no {
    background-position: 62px 10px;
  }

  .rate__flag {
    font-size: 15px;

    &::before {
    background-position: -15px 0;
    }
  }

  .rate__flag-text {
    top: 10px;
    left: 5px;
  }

  .rate__name {
    font-size: 16px;
    margin: 0;
    padding: 10px 0 0;
  }

  .rate__price {
    font-size: 18px;
    margin: 0 0 6px;
  }

  .rate__function {
    text-transform: none;
    padding: 6px 0 9px 15px;
  }

  .rate__list {
    margin: 35px 25px 0;
    width: 620px;
    transform: none;
  }

  .rate__list td {
    width: 140px;
  }

  .rate__row-1 td:nth-child(3n) {
    width: 140px;
  }
}

@media (min-width: @desktop-width) {
  .rate__name {
    font-size: 18px;
  }

  .rate__price {
    font-size: 24px;
  }

  .rate__function {
    font-size: 18px;
  }

  .rate__list td {
    width: 230px;
  }

  .rate__list {
    margin: 160px 130px 100px;
    width: 0;
  }
}
