.reviews__author-name {
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  margin: 0 80px 0;
  font-style: normal;
}


.reviews__author-subtitle {
  display: none;
}

.reviews__text {
  line-height: 30px;
  text-align: center;
  margin: 15px 20px 0;
}

.reviews {
  margin: 40px 0 60px;
}

.reviews__item {
  margin: 0;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .reviews {
    margin: 40px 0 70px;
  }

  .reviews__text {
    font-size: 18px;
    width: 620px;
    margin: 5px auto;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;
  }

  .reviews__author-name {
    order: 2;
    font-size: 20px;
    margin: 30px 0 5px;
  }

  .reviews__author-subtitle {
    display: flex;
    order: 3;
    margin: 0 auto;
    width: 175px;
    font-size: 14px;
  }
}

@media (min-width: @desktop-width) {
  .reviews__author-name {
    font-size: 24px;
  }

  .reviews__author-subtitle {
    font-size: 18px;
  }
}
