.post {
  width: 280px;
  padding: 25px 15px;
  margin: 20px;
  background-color: #f2f2f2;
}

.post__flag {
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  padding: 11px 20px;
  background-color: #d22856;
}

.post__image--panorama {
  width: 320px;
}

.post__author-name {
  font-weight: 700;
}

.post__post-date {
  font-size: 12px;
  font-weight: 300;
}

.post__text {
  padding-bottom: 20px;
}
